nav {
  background-color: #08070880;
  backdrop-filter: blur(8px);
}

.nav-container {
  margin-left: 3rem;
  margin-right: 3rem;

  // .navbar-brand {
  //   display: flex;
  //   align-items: center;
  //   font-weight: 500;
  //   color: #fdca40;
  // }

  // .navbar-brand:hover {
  //   color: #e6e8e6;
  // }
}
