$navbar-brand-font-size: 2rem;

$card-bg: #14213d;
$card-title-spacer-y: 0;

$badge-color: #14213d;

$input-color: #fca311;
$input-bg: #14213d;
$input-border-color: #14213d;
$input-placeholder-color: #e5e5e5;

$input-group-addon-color: #fca311;
$input-group-addon-bg: #14213d;
$input-group-addon-border-color: #14213d;

$input-focus-border-color: #14213d;
$input-focus-box-shadow: none;
