$navbar-brand-font-size: 2rem;

$card-bg: #1a181a;
$card-title-spacer-y: 0;

$badge-color: #1a181a;

$input-color: #fdca40;
$input-bg: #1a181a;
$input-border-color: #1a181a;
$input-placeholder-color: #e6e8e6;

$input-group-addon-color: #fdca40;
$input-group-addon-bg: #1a181a;
$input-group-addon-border-color: #1a181a;

$input-focus-border-color: #1a181a;
$input-focus-box-shadow: none;
